{% extends "head.html" %}

{% block head %}
	<title>Mangadex Downloader</title>
	<meta name="description" content="Download manga from the mangadex api.">
	<link rel="stylesheet" type="text/css" href="static/styles/index.css">
{% endblock %}

{% block body %}
	<form method="post">
		<header class="dark header">
			<div class="dark search-bar">
				<input type="text" name="SearchBar" id="search_bar" placeholder="Search the name or id of the manga/chapter.">
			</div>

			<div class="dark search-options">
				<label class="chapter-label">Chapter</label>
				<input type="radio" name="SearchValues" id="chapter" checked="checked" value="chapter">
			</div>

			<div>
				<input type="submit" name="SearchButton" id="search_button" value="Search">
			</div>

			<img src="static/img/brightness.png" class="dark sun-moon">
		</header>


		<main class="dark main">
			<div class="dark chapter-options">
				<label class="directory-label">Directory</label>
				<input type="text" name="Directory" id="directory" placeholder="this/is/an/example/">
				<br>
				<label class="data-saver-label">Data Saver</label>
				<input type="checkbox" name="DataSaver" id="data_saver">
			</div>
			
		</main>
	</form>
	


	<footer class="dark footer">
	</footer>


	<script type="text/javascript" src="static/js/script.js"></script>
{% endblock %}