/* Dark Mode */
.body.dark, .main {
	background-color: #202020;
}

.header, .footer, .main div {
	background-color: #3a3a3a;
}

*.dark {
	color: yellow;
}



/* Background */
* {
	margin: 0;
}



/* Foreground */
.header, .main, .footer {
	width: 100%;
}

.header, .main {
	margin-bottom: 15px;
}

.header, .footer {
	height: 100px;
}

.search-options {
	margin-left: 20px;
}

.main, .chapter-options {
	min-height: 300px;
	height: auto;
}

.chapter-options {
	display: inline-block;
}

.chapter-options {	
	margin-left: 5%;
	width: 90%;
}

.footer {
	position: absolute;
	bottom: 0;
}



/* Main */
.header div {
	display: inline-block;
}

#search_bar {
	height: 50px;
	width: 300px;
	font-size: 20px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 25px;
}

#search_button {
	height: 35px;
	width: 75px;
	margin-right: 10px;
}

.sun-moon {
	height: 64px;
	margin-top: 15px;
	margin-right: 20px;
	float: right;
}

div.float-left, div.float-right {
	display: inline-block;
}

div.float-left {
	float: left;
}

div.float-right {
	float: right;
}

.project-title, .pipp2petals {
	text-align: center;
	display: block;
}
