/* Dark Mode */
.body.dark {
	background-color: #202020;
}

*.dark {
	color: yellow;
}

/* Light Mode */
.body.light {
	background-color: white;
}

/* Background */
* {
	margin: 0;
}


/* Main */
.sun-moon {
	height: 64px;
}